# Classificação Tabela FIPE
Modelo de Analise de dados dos veículos disponibilizados pela tabela FIPE


# Analisando e entendendo os dados<a name='analisando-dados' />

## Carregando os dados

In [1]:
import pandas as pd


# Carregando os dados de treinamento e de testes
train_df = pd.read_csv('data/fipe_201711_Carro.csv')

In [2]:
# Vamos agora visualizar alguns itens de treinamento
train_df.head(5)

,fipe_cod,tabela_id,anoref,mesref,tipo,marca_id,marca,modelo_id,modelo,anomod,comb_cod,comb_sigla,comb,valor
0,038003-2,219,2017,11,1,1,Acura,1,Integra GS 1.8,1992,1,G,Gasolina,12564
1,038003-2,219,2017,11,1,1,Acura,1,Integra GS 1.8,1991,1,G,Gasolina,11545
2,038002-4,219,2017,11,1,1,Acura,2,Legend 3.2/3.5,1998,1,G,Gasolina,28637
3,038002-4,219,2017,11,1,1,Acura,2,Legend 3.2/3.5,1997,1,G,Gasolina,24098
4,038002-4,219,2017,11,1,1,Acura,2,Legend 3.2/3.5,1996,1,G,Gasolina,23216

In [3]:

#import matplotlib.pyplot as plt
#import seaborn as sns

#sns.set_style('whitegrid')
#%matplotlib inline

## Filtra os últimos 10 anos

In [4]:
data=train_df[((train_df.anoref == 2017) & (train_df.mesref == 11))  & (train_df.anomod >= 2007 )]
#sns.countplot(x="modelo", data=data)

In [5]:
# Procurando dados nulos
for field in train_df.columns:
    print(field, 'NaN:', train_df[field].isnull().sum())

fipe_cod NaN: 0
tabela_id NaN: 0
anoref NaN: 0
mesref NaN: 0
tipo NaN: 0
marca_id NaN: 0
marca NaN: 0
modelo_id NaN: 0
modelo NaN: 0
anomod NaN: 0
comb_cod NaN: 0
comb_sigla NaN: 0
comb NaN: 0
valor NaN: 0

## Extrair um pedaço da base de treino e usar como base de teste

In [6]:
#from sklearn.model_selection import ShuffleSplit

#ss = ShuffleSplit(n_splits=1, test_size=0.20, random_state=0)
#for index, (train_index, test_index) in enumerate(ss.split(X_train)):
 #   print("%s %s" % (train_index, test_index))

# Cross-Validation

In [7]:
# Numero de vezes que iremos fazer o ciclo
folds = 5
final_score = 0

# Chamamos a funcao do SkLearn com o ShuffleSplit passando o numero de folds
ss = ShuffleSplit(n_splits=folds, test_size=0.20, random_state=0)
for train_index, test_index in ss.split(X_train):
    # Treinar somente com os 80% da base de treinamento
    random_forest.fit(X_train.values[train_index], Y_train.values[train_index])

    # Extrair o score a partir dos outros 20%
    score = random_forest.score(X_train.values[test_index], Y_train.values[test_index])
    print(score)
    
    final_score += score

# O score final será a media de todos os folds
final_score = final_score / folds
final_score

NameError: name 'ShuffleSplit' is not defined

# MARCA

In [8]:
brand = pd.DataFrame(data={'name':data['marca'], 'fipe_cod': data['fipe_cod']})
dfbrand = brand.groupby(['name'])

In [9]:
dfbrand.count().sort_values(['fipe_cod'], ascending=False).to_csv('data/marcas.csv')

In [10]:
to_csv('data/marcas.csv')

NameError: name 'to_csv' is not defined

In [11]:
market_shere_df = pd.read_csv('data/market_share.csv')
market_shere_df

              name  market_share
0   GM - Chevrolet         0.189
1  VW - VolksWagen         0.133
2             Fiat         0.139
3          Hyundai         0.920
4             Ford         0.880
5          Renault         0.840
6           Toyota         0.810
7            Honda         0.500
8             Jeep         0.390
9           Nissan         0.320

In [11]:
brand_mege = pd.merge(bdf, market_shere_df, how='left', on=['name'])
brand_mege

     id             name  market_share
0     2           Agrale           NaN
1     6             Audi           NaN
2     7              BMW           NaN
3     8              BRM           NaN
4     9            Buggy           NaN
5    12         Chrysler           NaN
6    13          Citroën           NaN
7    17            Dodge           NaN
8    20          Ferrari           NaN
9    21             Fiat          13.9
10   22             Ford           8.8
11   23   GM - Chevrolet          18.9
12   25            Honda           5.0
13   26          Hyundai           9.2
14   28           Jaguar           NaN
15   29             Jeep           3.9
16   31       Kia Motors           NaN
17   33       Land Rover           NaN
18   34            Lexus           NaN
19   36         Maserati           NaN
20   39    Mercedes-Benz           NaN
21   41       Mitsubishi           NaN
22   43           Nissan           3.2
23   44          Peugeot           NaN
24   47          Porsche           NaN
25   48          Renault           8.4
26   54           Subaru           NaN
27   55           Suzuki           NaN
28   56           Toyota           8.1
29   57          Troller           NaN
30   58            Volvo           NaN
31   59  VW - VolksWagen          13.3
32  123            Bugre           NaN
33  147             EFFA           NaN
34  149         Fibravan           NaN
35  154           JINBEI           NaN
36  156             MINI           NaN
37  161            CHERY           NaN
38  163             Wake           NaN
39  165              TAC           NaN
40  168            LIFAN           NaN
41  170            Fyber           NaN
42  171      LAMBORGHINI           NaN
43  177              JAC           NaN
44  183         SHINERAY           NaN
45  185              RAM           NaN
46  186             RELY           NaN
47  189     ASTON MARTIN           NaN
48  190            FOTON           NaN
49  195      Rolls-Royce           NaN
50  199            GEELY           NaN

In [12]:
for field in brand_mege.columns:
    print(field, 'NaN:', brand_mege[field].notnull().sum())

id NaN: 51
name NaN: 51
market_share NaN: 10

In [13]:
brand_mege[brand_mege['market_share'].notnull()]

    id             name  market_share
9   21             Fiat          13.9
10  22             Ford           8.8
11  23   GM - Chevrolet          18.9
12  25            Honda           5.0
13  26          Hyundai           9.2
15  29             Jeep           3.9
22  43           Nissan           3.2
25  48          Renault           8.4
28  56           Toyota           8.1
31  59  VW - VolksWagen          13.3

# Aplica marketshare

In [12]:
brand_mege.loc[brand_mege['market_share'].isnull(), 'market_share'] = 0
brand_mege

NameError: name 'brand_mege' is not defined

In [13]:
dfbrand.first().to_csv('data/brands.csv')

# MODELO

## limpa descrição do modelo

In [16]:
#Conta quantidade de versões 0 km
data.query('anomod == "32000"').shape

(1136, 14)

In [17]:

dfmodelo = pd.DataFrame(data={'id':data['modelo_id'], 'desc':data['modelo'], 'year': data['anomod'], 'brand': data['marca'], 'value':data['valor'] })

In [18]:
dfmodelo.head(5)

     brand                              desc    id   value  year
15  Agrale   MARRUÁ 2.8 12V 132cv TDI Diesel     4   54009  2007
19  Agrale  MARRUÁ AM 100 2.8  CS TDI Diesel  4564  125933  2015
20  Agrale  MARRUÁ AM 100 2.8  CS TDI Diesel  4564  118974  2014
21  Agrale  MARRUÁ AM 100 2.8  CS TDI Diesel  4564  111882  2013
22  Agrale  MARRUÁ AM 100 2.8  CS TDI Diesel  4564  100993  2012

In [39]:
#limpa descrição
dfmodelo_clean = dfmodelo.join(dfmodelo['desc'].str.extract('(?P<model>^[^\W]+)(?P<version>.*)', expand=True))

In [37]:
## Verifica se algum resultado é nulo
for field in dfmodelo_clean.columns:
    print(field, 'NaN:',dfmodelo_clean[field].isnull().sum())

brand NaN: 0
desc NaN: 0
id NaN: 0
value NaN: 0
year NaN: 0
model NaN: 0
version NaN: 0

In [32]:
dfmodelo_clean.loc[dfmodelo_clean['model'].isnull()]

Empty DataFrame
Columns: [brand, desc, id, value, year, model, version]
Index: []

In [33]:
# Executa regex para modelos que não foram detectados por nao ter a versão 
#substitui os nulos pela descrição inicial
dfmodelo_clean['model'].fillna(dfmodelo_clean['desc'].str.extract('(?P<model>^[^\W]+)'), inplace=True)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  This is separate from the ipykernel package so we can avoid doing imports until

In [45]:
dfmodelo_clean['model'] = dfmodelo_clean['model'].str.title()
dfmodelo_clean

,brand,desc,id,value,year,model,version
15,Agrale,MARRUÁ 2.8 12V 132cv TDI Diesel,4,54009,2007,Marruá,2.8 12V 132cv TDI Diesel
19,Agrale,MARRUÁ AM 100 2.8 CS TDI Diesel,4564,125933,2015,Marruá,AM 100 2.8 CS TDI Diesel
20,Agrale,MARRUÁ AM 100 2.8 CS TDI Diesel,4564,118974,2014,Marruá,AM 100 2.8 CS TDI Diesel
21,Agrale,MARRUÁ AM 100 2.8 CS TDI Diesel,4564,111882,2013,Marruá,AM 100 2.8 CS TDI Diesel
22,Agrale,MARRUÁ AM 100 2.8 CS TDI Diesel,4564,100993,2012,Marruá,AM 100 2.8 CS TDI Diesel
23,Agrale,MARRUÁ AM 100 2.8 CS TDI Diesel,4564,76650,2011,Marruá,AM 100 2.8 CS TDI Diesel
24,Agrale,MARRUÁ AM 100 2.8 CS TDI Diesel,4564,58798,2010,Marruá,AM 100 2.8 CS TDI Diesel
25,Agrale,MARRUÁ AM 100 2.8 CS TDI Diesel,4564,52289,2009,Marruá,AM 100 2.8 CS TDI Diesel
26,Agrale,MARRUÁ AM 100 2.8 CS TDI Diesel,4564,49945,2008,Marruá,AM 100 2.8 CS TDI Diesel
27,Agrale,MARRUÁ AM 100 2.8 CD TDI Diesel,4563,131487,2015,Marruá,AM 100 2.8 CD TDI Diesel
28,Agrale,MARRUÁ AM 100 2.8 CD TDI Diesel,4563,123463,2014,Marruá,AM 100 2.8 CD TDI Diesel
29,Agrale,MARRUÁ AM 100 2.8 CD TDI Diesel,4563,113912,2013,Marruá,AM 100 2.8 CD TDI Diesel
30,Agrale,MARRUÁ AM 100 2.8 CD TDI Diesel,4563,105310,2012,Marruá,AM 100 2.8 CD TDI Diesel
31,Agrale,MARRUÁ AM 100 2.8 CD TDI Diesel,4563,93312,2011,Marruá,AM 100 2.8 CD TDI Diesel
32,Agrale,MARRUÁ AM 100 2.8 CD TDI Diesel,4563,64332,2010,Marruá,AM 100 2.8 CD TDI Diesel
33,Agrale,MARRUÁ AM 100 2.8 CD TDI Diesel,4563,59887,2009,Marruá,AM 100 2.8 CD TDI Diesel
34,Agrale,MARRUÁ AM 100 2.8 CD TDI Diesel,4563,57314,2008,Marruá,AM 100 2.8 CD TDI Diesel
35,Agrale,MARRUÁ AM 100 2.8 CD TDI Diesel,4563,54693,2007,Marruá,AM 100 2.8 CD TDI Diesel
36,Agrale,MARRUÁ AM 150 2.8 CS TDI Diesel,4566,125628,2015,Marruá,AM 150 2.8 CS TDI Diesel
37,Agrale,MARRUÁ AM 150 2.8 CS TDI Diesel,4566,118007,2014,Marruá,AM 150 2.8 CS TDI Diesel
38,Agrale,MARRUÁ AM 150 2.8 CS TDI Diesel,4566,110944,2013,Marruá,AM 150 2.8 CS TDI Diesel
39,Agrale,MARRUÁ AM 150 2.8 CS TDI Diesel,4566,100562,2012,Marruá,AM 150 2.8 CS TDI Diesel
40,Agrale,MARRUÁ AM 150 2.8 CS TDI Diesel,4566,83721,2011,Marruá,AM 150 2.8 CS TDI Diesel
41,Agrale,MARRUÁ AM 150 2.8 CS TDI Diesel,4566,62152,2010,Marruá,AM 150 2.8 CS TDI Diesel
42,Agrale,MARRUÁ AM 150 2.8 CS TDI Diesel,4566,57992,2009,Marruá,AM 150 2.8 CS TDI Diesel
43,Agrale,MARRUÁ AM 150 2.8 CS TDI Diesel,4566,54830,2008,Marruá,AM 150 2.8 CS TDI Diesel
44,Agrale,MARRUÁ AM 150 2.8 CD TDI Diesel,4565,140350,2015,Marruá,AM 150 2.8 CD TDI Diesel
45,Agrale,MARRUÁ AM 150 2.8 CD TDI Diesel,4565,131979,2014,Marruá,AM 150 2.8 CD TDI Diesel
46,Agrale,MARRUÁ AM 150 2.8 CD TDI Diesel,4565,125259,2013,Marruá,AM 150 2.8 CD TDI Diesel
47,Agrale,MARRUÁ AM 150 2.8 CD TDI Diesel,4565,120244,2012,Marruá,AM 150 2.8 CD TDI Diesel
...,...,...,...,...,...,...,...
22592,VW - VolksWagen,VOYAGE TREND 1.6 Mi Total Flex 8V 4p,4755,24940,2011,Voyage,TREND 1.6 Mi Total Flex 8V 4p
22593,VW - VolksWagen,VOYAGE TREND 1.6 Mi Total Flex 8V 4p,4755,23152,2010,Voyage,TREND 1.6 Mi Total Flex 8V 4p
22594,VW - VolksWagen,VOYAGE TREND 1.6 Mi Total Flex 8V 4p,4755,22356,2009,Voyage,TREND 1.6 Mi Total Flex 8V 4p
22595,VW - VolksWagen,VOYAGE Trendline 1.0 T.Flex 12V 4p,7524,46226,32000,Voyage,Trendline 1.0 T.Flex 12V 4p
22596,VW - VolksWagen,VOYAGE Trendline 1.0 T.Flex 12V 4p,7524,39844,2018,Voyage,Trendline 1.0 T.Flex 12V 4p
22597,VW - VolksWagen,VOYAGE Trendline 1.0 T.Flex 12V 4p,7524,38140,2017,Voyage,Trendline 1.0 T.Flex 12V 4p
22598,VW - VolksWagen,VOYAGE Trendline 1.6 T.Flex 8V 4p,6809,48340,32000,Voyage,Trendline 1.6 T.Flex 8V 4p
22599,VW - VolksWagen,VOYAGE Trendline 1.6 T.Flex 8V 4p,6809,41255,2018,Voyage,Trendline 1.6 T.Flex 8V 4p
22600,VW - VolksWagen,VOYAGE Trendline 1.6 T.Flex 8V 4p,6809,39811,2017,Voyage,Trendline 1.6 T.Flex 8V 4p
22601,VW - VolksWagen,VOYAGE Trendline 1.6 T.Flex 8V 4p,6809,37487,2016,Voyage,Trendline 1.6 T.Flex 8V 4p
22602,VW - VolksWagen,VOYAGE Trendline 1.6 T.Flex 8V 4p,6809,34923,2015,Voyage,Trendline 1.6 T.Flex 8V 4p
22603,Wake,Way 1.6 Total Flex 8V Mec.,5088,72600,32000,Way,1.6 Total Flex 8V Mec.
22604,Wake,Way 1.6 Total Flex 8V Mec.,5088,54907,2017,Way,1.6 Total Flex 8V Mec.
22605,Wake,Way 1.6 Total Flex 8V Mec.,5088,50648,2016,Way,1.6 Total Flex 8V Mec.
22606,Wake,Way 1.6 Total Flex 8V Mec.,5088,48052,2015,Way,1.6 Total Flex 8V Mec.
22607,Wake,Way 1.6 Total Flex 8V Mec.,5088,41504,2014,Way,1.6 Total Flex 8V Mec.
22608,Wake,Way 1.6 Total Flex 8V Mec.,5088,38409,2013,Way,1.6 Total Flex 8V Mec.
22609,Wake,Way 1.6 Total Flex 8V Mec.,5088,25861,2012,Way,1.6 Total Flex 8V Mec.
22610,Wake,Way 1.6 Total Flex 8V Mec.,5088,24758,2011,Way,1.6 Total Flex 8V Mec.
22611,Wake,Way 1.6 Total Flex 8V Mec.,5088,22733,2010,Way,1.6 Total Flex 8V Mec.
22612,Wake,Way 1.6 Total Flex 8V Mec.,5088,21950,2009,Way,1.6 Total Flex 8V Mec.
22613,Wake,Way 1.8 Total Flex 8V Mec.,5089,27056,2012,Way,1.8 Total Flex 8V Mec.
22614,Wake,Way 1.8 Total Flex 8V Mec.,5089,24777,2011,Way,1.8 Total Flex 8V Mec.
22615,Wake,Way 1.8 Total Flex 8V Mec.,5089,22784,2010,Way,1.8 Total Flex 8V Mec.
22616,Wake,Way 1.8 Total Flex 8V Mec.,5089,21998,2009,Way,1.8 Total Flex 8V Mec.
22617,Walk,Buggy Walk Sport 1.6 8V 58cv,3998,22912,2011,Buggy,Walk Sport 1.6 8V 58cv
22618,Walk,Buggy Walk Sport 1.6 8V 58cv,3998,21552,2010,Buggy,Walk Sport 1.6 8V 58cv
22619,Walk,Buggy Walk Sport 1.6 8V 58cv,3998,19454,2009,Buggy,Walk Sport 1.6 8V 58cv
22620,Walk,Buggy Walk Sport 1.6 8V 58cv,3998,18403,2008,Buggy,Walk Sport 1.6 8V 58cv
22621,Walk,Buggy Walk Sport 1.6 8V 58cv,3998,17717,2007,Buggy,Walk Sport 1.6 8V 58cv

In [26]:
## Verifica se algum resultado é nulo no resultado final
for field in dfmodelo_clean.columns:
    print(field, 'NaN:',dfmodelo_clean[field].isnull().sum())

brand NaN: 0
desc NaN: 0
id NaN: 0
value NaN: 0
year NaN: 0
model NaN: 0
version NaN: 17

# Salva as versões

In [27]:
#remove desc que não será necessário para versão
dfversao = dfmodelo_clean.drop('desc', axis=1)
dfversao.to_csv('data/versions.csv', index=False)

In [31]:
#remove versão
csvmodelo = dfversao.drop(['version', 'id', 'value'], axis=1)
csvmodelo.head(5)

      brand  year   model
53   Agrale  2017  MARRUÁ
64   Agrale  2017  MARRUÁ
282    Audi  2017      A1
288    Audi  2017      A1
294    Audi  2017      A1

In [32]:


#Agrupa por nome
grouped = csvmodelo.groupby(csvmodelo['model'],as_index=False).first()
grouped.count()

model    218
brand    218
year     218
dtype: int64

In [33]:
grouped.head(10)

        model    brand  year
0        2008  Peugeot  2018
1         208  Peugeot  2018
2  220iTourer      BMW  2018
3        2500      RAM  2017
4        3008  Peugeot  2018
5         308  Peugeot  2017
6       320iA      BMW  2017
7       328iA      BMW  2017
8         408  Peugeot  2017
9        430i      BMW  2017

In [34]:
#Salva no csv
grouped.to_csv('data/models.csv',index=False)

# Executando leitura dos csv

In [60]:
import pandas as pd

brands_df = pd.read_csv('data/brands.csv')
brands_df['id'] = brands_df.id.astype(int)
brands_df.head(10)

   id      name
0   2    Agrale
1   6      Audi
2   7       BMW
3   8       BRM
4   9     Buggy
5  12  Chrysler
6  13   Citroën
7  17     Dodge
8  20   Ferrari
9  21      Fiat

In [61]:
json = brands_df.to_dict(orient='records')

In [62]:
json

[{'id': 2, 'name': 'Agrale'},
 {'id': 6, 'name': 'Audi'},
 {'id': 7, 'name': 'BMW'},
 {'id': 8, 'name': 'BRM'},
 {'id': 9, 'name': 'Buggy'},
 {'id': 12, 'name': 'Chrysler'},
 {'id': 13, 'name': 'Citroën'},
 {'id': 17, 'name': 'Dodge'},
 {'id': 20, 'name': 'Ferrari'},
 {'id': 21, 'name': 'Fiat'},
 {'id': 22, 'name': 'Ford'},
 {'id': 23, 'name': 'GM - Chevrolet'},
 {'id': 25, 'name': 'Honda'},
 {'id': 26, 'name': 'Hyundai'},
 {'id': 28, 'name': 'Jaguar'},
 {'id': 29, 'name': 'Jeep'},
 {'id': 31, 'name': 'Kia Motors'},
 {'id': 33, 'name': 'Land Rover'},
 {'id': 34, 'name': 'Lexus'},
 {'id': 36, 'name': 'Maserati'},
 {'id': 39, 'name': 'Mercedes-Benz'},
 {'id': 41, 'name': 'Mitsubishi'},
 {'id': 43, 'name': 'Nissan'},
 {'id': 44, 'name': 'Peugeot'},
 {'id': 47, 'name': 'Porsche'},
 {'id': 48, 'name': 'Renault'},
 {'id': 54, 'name': 'Subaru'},
 {'id': 55, 'name': 'Suzuki'},
 {'id': 56, 'name': 'Toyota'},
 {'id': 57, 'name': 'Troller'},
 {'id': 58, 'name': 'Volvo'},
 {'id': 59, 'name': 'VW - VolksWagen'},
 {'id': 123, 'name': 'Bugre'},
 {'id': 147, 'name': 'EFFA'},
 {'id': 149, 'name': 'Fibravan'},
 {'id': 154, 'name': 'JINBEI'},
 {'id': 156, 'name': 'MINI'},
 {'id': 161, 'name': 'CHERY'},
 {'id': 163, 'name': 'Wake'},
 {'id': 165, 'name': 'TAC'},
 {'id': 168, 'name': 'LIFAN'},
 {'id': 170, 'name': 'Fyber'},
 {'id': 171, 'name': 'LAMBORGHINI'},
 {'id': 177, 'name': 'JAC'},
 {'id': 183, 'name': 'SHINERAY'},
 {'id': 185, 'name': 'RAM'},
 {'id': 186, 'name': 'RELY'},
 {'id': 189, 'name': 'ASTON MARTIN'},
 {'id': 190, 'name': 'FOTON'},
 {'id': 195, 'name': 'Rolls-Royce'},
 {'id': 199, 'name': 'GEELY'}]